* {
    transition: color var(--animation-darkmode-switch), background-color var(--animation-darkmode-switch), fill var(--animation-darkmode-switch), border-color var(--animation-darkmode-switch);
}

.link__text::after {
    left: 50%;
    right: 50%;
    transition: left var(--animation-line), right var(--animation-line), background-color var(--animation-darkmode-switch);
}

.nav__link--active .link__text::after {
    left: 0;
    right: 0;
}

.nav__link:hover .link__text::after {
    left: 0;
    right: 0;
}

.header__hamburger > :nth-child(1) {
    transition: d var(--animation-hamburger), stroke var(--animation-darkmode-switch);
}

.header__hamburger > :nth-child(2) {
    transition: d var(--animation-hamburger), stroke var(--animation-darkmode-switch);
}

.header__hamburger > :nth-child(3) {
    transition: d var(--animation-hamburger), stroke var(--animation-darkmode-switch);
}

/*
    hamburger animace rozdělena na 2 části
*/
.header__hamburger.active-2 > :nth-child(1) {
    d: path("M12,48L84,48");
}

.header__hamburger.active-2 > :nth-child(2) {
    d: path("M48,48L48,48");
}

.header__hamburger.active-2 > :nth-child(3) {
    d: path("M12,48L84,48");
}

.header__hamburger.active-3 > :nth-child(1) {
    d: path("M24,24L72,72");
}

.header__hamburger.active-3 > :nth-child(2) {
    d: path("M48,48L48,48");
}

.header__hamburger.active-3 > :nth-child(3) {
    d: path("M24,72L72,24");
}

.nav__menu {
    top: -130%;
    transition: top var(--animation-hamburger-menu), color var(--animation-darkmode-switch), background-color var(--animation-darkmode-switch);
}

.header__nav.active .nav__menu {
    top: 100%;
}

.header__switch {
    translate: 0 -200%;
}

.header__switch--transition-ready {
    transition: box-shadow var(--animation-darkmode-switch), translate var(--animation-hamburger-menu);
}

.header__switch.active {
    translate: 0 0;
}

.header__switch::before {
    transition: left var(--animation-darkmode-switch), background-color var(--animation-darkmode-switch);
}