.button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color-text);
    display: inline-block;
}

.button--action {
    background-color: var(--color-action);
}

.button--detail {
    background-color: var(--color-detail);
}

.numbered-list {
    counter-reset: numbered-list;
    margin: 0;
}

.numbered-list > li {
    counter-increment: numbered-list;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.numbered-list > li:last-of-type {
    margin-bottom: 0;
}

.numbered-list > li::marker {
    content: "Step " counter(numbered-list) ":";
}

.footer {
    padding: 0.5rem 1rem;
    background-color: var(--color-shadow);
    text-align: center;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature--reverse {
    flex-direction: row-reverse;
}

.feature__title {
    margin-bottom: -1rem;
}

.feature__heading {
    max-width: 8rem;
}

.editing-table,
.editing-table tr,
.editing-table td,
.editing-table th {
    border: 2px solid var(--color-detail);
    border-collapse: collapse;
}

.editing-table td,
.editing-table th {
    width: 50%;
    vertical-align: top;
    padding: 0.25rem;
    font-size: 14px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
}

.editing-table th {
    font-weight: 700;
}

.editing-table img {
    width: 100%;
}

.link {
    display: inline-block;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.form__label--optional::before {
    color: var(--color-optional);
    content: "*";
    margin-right: 0.25rem;
}

.form__input--resize {
    resize: vertical;
}

.form__input {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-text);
}

.form__button {
    border: 0px;
    width: fit-content;
    margin-left: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card__tag {
    background-color: var(--color-detail);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    display: inline-block;
}

.card__tag::before {
    content: "#";
    margin-right: 0.25rem;
}

.code-block {
    display: block;
    overflow-x: auto;
}

.image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__figure {
    margin: 0;
}

.swiper {
    width: 100%;
}

.icon {
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    background-color: var(--color-background);
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logo {
    line-height: 0;
    padding: 1rem;
}

.logo__img {
    width: 128px;
}

.header__nav {
    display: none;
}

.header__nav.active {
    display: block;
}

.nav__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    border-radius: 0 0 1rem 1rem;
}

.nav__link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 1rem 2rem;
    color: var(--color-text);
}

.nav__link--active .link__text {
    position: relative;
}

.nav__link--active .link__text::after {
    content: "";
    position: absolute;
    top: 90%;
    background-color: var(--color-text);
    left: 0;
    right: 0;
    height: 0.125rem;
}

.header__hamburger {
    margin-right: 2rem;
    fill: var(--color-text);
}

.header__hamburger > :nth-child(2) {
    display: none;
}

.header__hamburger.active > :nth-child(1) {
    display: none;
}

.header__hamburger.active > :nth-child(2) {
    display: block;
}

.header__switch {
    box-sizing: border-box;
    width: 6rem;
    display: none;
    justify-content: space-between;
    padding: 0.25rem;
    position: relative;
    border-radius: 1000rem;
}

.header__switch.active {
    display: flex;
}

.header__switch::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    border-radius: 50%;
}

.header__switch > svg {
    margin: 0.25rem;
    z-index: 1;
}

.header__switch > input {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .header__switch:has(input:checked) {
        box-shadow: -2px 2px 8px 0px var(--color-action), 0px 0px 8px 8px rgba(255, 127, 17, 0.25);
    }

    .header__switch:has(input:not(:checked)) {
        box-shadow: 2px 2px 8px 0px var(--color-detail), 0px 0px 8px 8px var(--color-shadow);
    }

    .header__switch:has(input:checked)::before {
        left: 0.25rem;
        background-color: var(--color-action);
    }

    .header__switch:has(input:not(:checked))::before {
        right: 0.25rem;
        background-color: var(--color-detail);
    }

    .header:has(#darkmode-switch:checked) .logo__img--light {
        display: inline;
    }

    .header:has(#darkmode-switch:checked) .logo__img--dark {
        display: none;
    }

    .header:has(#darkmode-switch:not(:checked)) .logo__img--light {
        display: none;
    }

    .header:has(#darkmode-switch:not(:checked)) .logo__img--dark {
        display: inline;
    }
}

@media (prefers-color-scheme: light) {
    .header__switch:has(input:not(:checked)) {
        box-shadow: -2px 2px 8px 0px var(--color-action), 0px 0px 8px 8px rgba(255, 127, 17, 0.25);
    }

    .header__switch:has(input:checked) {
        box-shadow: 2px 2px 8px 0px var(--color-detail), 0px 0px 8px 8px var(--color-shadow);
    }

    .header__switch:has(input:not(:checked))::before {
        left: 0.25rem;
        background-color: var(--color-action);
    }

    .header__switch:has(input:checked)::before {
        right: 0.25rem;
        background-color: var(--color-detail);
    }

    .header:has(#darkmode-switch:checked) .logo__img--light {
        display: none;
    }

    .header:has(#darkmode-switch:checked) .logo__img--dark {
        display: inline;
    }

    .header:has(#darkmode-switch:not(:checked)) .logo__img--light {
        display: inline;
    }

    .header:has(#darkmode-switch:not(:checked)) .logo__img--dark {
        display: none;
    }
}