.icon {

}

.icon--code::before {
    content: url("/icons/code.svg");
}

.icon--interaction::before {
    content: url("/icons/interaction.svg");
}

.icon--design::before {
    content: url("/icons/design.svg");
}

.icon--scale::before {
    content: url("/icons/scale.svg");
}

.icon--performance::before {
    content: url("/icons/performance.svg");
}