@layer normalize, typography, fonts, color, components, layout, desktop;

@import "normalize.css" layer(normalize);
@import "components.css" layer(components);
@import "typography.css" layer(typography);
@import "layout.css" layer(layout);
@import "fonts.css" layer(fonts);
@import "color.css" layer(color);
@import "desktop.css" layer(desktop) screen and (min-width: 1024px);

:root {
    font-size: 16px;

    --color-text: light-dark(#080705, #f5f5f5);
    --color-background: light-dark(#f5f5f5, #080705);
    --color-action: #ff7f11;
    --color-detail: #25abe4;
    --color-shadow: light-dark(#79b5ff, #001b3d);
    --color-optional: #00ff00;

    --gradient: radial-gradient(
            light-dark(#91e7ff80, #26005c80) 0%, 
            light-dark(#a5ebff80, #22005680) 21%,
            light-dark(#b8f0ff50, #1a004580) 50%, 
            light-dark(#e6faff40, #0d002980) 82%, 
            light-dark(#ffffff00, #00000000) 100%
        );
}
