@layer normalize, typography, fonts, icons, components, layout;

@import "normalize.css" layer(normalize);
@import "icons.css" layer(icons);
@import "components.css" layer(components);
@import "typography.css" layer(typography);
@import "layout.css" layer(layout);
@import "fonts.css" layer(fonts);

:root {
  font-size: 16px;

  --color-text: light-dark(#080705, #F5F5F5);
  --color-background: light-dark(#F5F5F5, #080705);
  --color-action: #FF7F11;
  --color-detail: #25ABE4;
  --color-shadow: light-dark(#79B5FF, #001B3D);
}