.heading-1 {
    font-size: 32px;
}

.heading-2 {
    font-size: 24px;
}

.heading-3 {
    font-size: 20px;
}

.paragraph {
    font-size: 16px;
}

.code {
    font-size: 14px;
}

.small {
    font-size: 14px;
}

.button {
    font-size: 16px;
}